h3 {
    padding-bottom: 10px;
}

.footer {
    color: #ffffff;
    padding: 40px;
    text-align: center;
    background-color: #00A3FF;
    margin-top: 45px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 12px;
}

.footer-links,
.social-media {
    margin: 10px 0;
}

.footer-links a,
.social-media a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover,
.social-media a:hover {
    text-decoration: underline;
}
