.homepage-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.homepage-header h3 {
    font-size: 16px;
    font-weight: 100;
    color: #666;
    margin: 20px;
    padding-top: 15px;
}

.homepage-header h2 {
    font-size: 56px;
    color: #00A3FF;
    margin-bottom: 15px;
    margin: 20px;
}

.homepage-header p {
    font-size: 17px;
    color: #666;
    max-width: 800px;
    margin: 30px auto;
    padding-top: 10px;
}

.homepage-buttons {
    padding-top: 15px;
    margin: 20px 0;
}

.search-button {
    background-color: #00A3FF;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #00A3FF;
}

.stats-section {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    padding-top: 30px;
    flex-wrap: wrap;
}

.stat-card {
    background-color: #00A3FF;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 28%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
    font-size: 50px;
    margin-bottom: 5px;
}

.stat-card p {
    font-size: 18px;
    margin: 0;
}

.about-section {
    padding-top: 40px;
    margin: 20px 0;
}

.about-section h3 {
    font-size: 24px;
    color: #00A3FF;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}





.stats-section {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    padding-top: 30px;
    flex-wrap: wrap;
}

.stat-card {
    background-color: #00A3FF;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 28%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.stat-card h3 {
    font-size: 35px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.stat-card p {
    font-size: 18px;
    margin: 0;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .stat-card {
        width: 100%;
    }
    .stat-card h3 {
        font-size: 40px;
    }
    .stat-card p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .stat-card {
        width: 100%;
    }
    .stat-card h3 {
        font-size: 40px;
    }
    .stat-card p {
        font-size: 16px;
    }
}