.teacher-rater-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Teljes ablakmagasság */
    justify-content: space-between;
}

.content-wrap {
    flex: 1;
}

.footer {
    background-color: #00A3FF;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
