.extended-school-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    max-height: 350px;
    margin: auto;
    margin-top: 10rem;
  }

  
.school-logo {  
    margin: 20px;
    margin-right:40px;
    max-width: 80%;
    max-height: 80%;
}

.school-info {
    padding: 10px;
    flex-grow: 1; 
    max-width: 800px;
    justify-content: center;
    align-items: center;
  }
  
  .school-info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #484848;
    font-weight: normal;
  } 
  
  .school-info p {
    font-size: 0.8rem;
    margin: 5px 0;
  }

.additional-info{
    display: flex;
    align-items: center;
}

.additional-info p {
    margin: 3px;
    background-color: #00A3FF;
    color: #ffffff;
    padding: 4px;
    border-radius: 20px;
    font-size: 10px;
}

  .school-rating {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 0.3em;
}

.school-rating p {
    font-size: 30px;
    font-weight: bold;
    color: #4B4B4B;
    margin-right: 0.5em;
}

.school-rating img {
    margin-left: auto;
    width: 2.5rem; 
    height: auto;
}