.extended-school-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1300px;
  max-width: 1300px;
  max-height: 350px;
  margin: auto;
  margin-top: 3rem;
}


.school-logo {  
  margin: 20px;
  margin-right:40px;
  max-width: 80%;
  max-height: 80%;
}

.school-info {
  padding: 10px;
  flex-grow: 1; 
  max-width: 840px;
  justify-content: center;
  align-items: center;
}

.school-info h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #484848;
  font-weight: normal;
} 

.school-info p {
  font-size: 0.8rem;
  margin: 5px 0;

}

.additional-info{
  display: flex;
  align-items: center;
}

.additional-info p {
  margin: 3px;
  background-color: #00A3FF;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #00A3FF;
  box-shadow: 0 0 3px rgba(0, 163, 255, 0.7);
}


.school-rating {
  display: flex;    
  align-items: center;
  padding-right: 5px;     
}


.school-rating p {
  font-size: 30px;
  font-weight: bold;
  color: #4B4B4B;
  margin-right: 0.2em;
}

.school-rating img {
  margin-left: auto;
  width: 2.5rem; 
  height: auto;
}

.more {    
  text-decoration: underline; 
  font-size: 15px;   
  padding: 60px 5px 5px;
  flex-grow: 2;
}

.right-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-self: flex-end;
}