.schoollist-page-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 16px; 
}


.ext-main-content{
  display: flex;
  flex-direction: column;
}

.seach-bar {
  display: flex;
  justify-content: center;
}